<script>
    let author = null;
    let input = document.getElementById("inputtext");
    let parrafo = document.getElementById("contenedor_texto");
    let button_chat = document.getElementById("sendSocket");
    let form_data_user = document.getElementById("data_user");
    let container_chat = document.getElementById("container_chat");
    let user_list = document.getElementById("user_list");
    let normlizr_contenedor = document.getElementById('normlizr')
    form_data_user.addEventListener("submit", e => {
        e.preventDefault();
        author = {
            nombre: e.target[0].value,
            id: e.target[1].value,
            apellido: e.target[2].value,
            edad: e.target[3].value,
            alias: e.target[4].value,
            avatar: e.target[5].value
        }
        if (author.nombre == "" || author.id == "" || author.apellido == "" || author.edad == "" || author.alias == "" || author.avatar == "") {
            window.location.reload();
        }
        socket = io();
        socket.emit("addUser", author);
        container_chat.classList = "active";
        readSockets();
    });

    function readSockets() {
        loadChat();
        socket.on("listenserver", data => {
            let inner = ``;
            data.forEach(element => {
                inner += `<img src=${element.author.avatar} width="30px" height="30px"><b>${element.author.id} <span style=color:blue>[${element.date}]:</span></b><span style=color:green>${element.mensaje}</span>  </br>`;
            });
            parrafo.innerHTML = inner;
        });
        socket.on('normalizer_data', data => {
            let inner = ``;
            inner = `<h1>Porcentaje de comprension %${Number.parseFloat(data).toFixed(2)}</h1>`;
            normlizr_contenedor.innerHTML = inner;
        })
    }
    function loadChat() {
        socket.on("init_chat", data => {
            let inner = ``;
            data.forEach(element => {
                inner += `<img src=${element.author.avatar} width="30px" height="30px"><b>${element.author.id} <span style=color:blue>[${element.date}]:</span> </b><span style=color:green>${element.mensaje}</span>  </br>`;
            });
            parrafo.innerHTML = inner;
        });
        socket.on("loadUsers", data => {
            let inner = ``;
            data.forEach(element => {
                let status = element.active ? "(conectado)" : "(desconectado)";
                inner += `<li><img src=${element.avatar} width="30px" height="30px"><b>${element.id}:</b> ${status}</li>`;
            });
            user_list.innerHTML = inner;
        });
    }

    button_chat.addEventListener("click", e => {
        let date = new Date();
        let sendMessagge = {
            author,
            mensaje: input.value,
            date: date.toLocaleString("en-US")
        }
        socket.emit("mensaje", sendMessagge);
        input.value = "";
    })
</script>