<div class="container my-3 d-flex justify-content-center ">
    <form id="form" action="/productos" method="post">
        <label>Producto:</label>
        <input onkeyup="textChange()" type="text" name="tittle" id="tittle" required>
        <label>Precio:</label>
        <input onkeyup="textChange()" type="number" name="price" id="price" required>
        <label>Imagen:</label>
        <input onkeyup="textChange()" type="file" name="thumb" id="thumb" required>
        <button type="button" id="button_listen" disabled>Agregar</button>
    </form>
</div>