<div class="row align-items-" style="background-color: rgba(145, 191, 209, 0.678);">
    <div class="col-7 text-end d-flex justify-content-start mx-5">
        <img src=<%=usuario.avatar%> class="mx-3 align-self-center" alt="img de perfil" width="50px" height="50px">
        <h1>
            <%= usuario.username %>
        </h1>
    </div>
    <div class="col-4 text-end align-self-center">
        <a href="/signin/logout" class="btn btn-primary mb-2">LogOut</a>
    </div>
</div>