<div class="text-center container my-4" style="background-color: rgba(145, 191, 209, 0.678);">
    <h1>
        Bienvenido <%= usuario.username %>
    </h1>
    <a href="/signin/logout" class="btn btn-primary mb-2">LogOut</a>
</div>