<div class="text-center container my-4" style="background-color: rgba(145, 191, 209, 0.678);">
    <h1>Hasta luego <%- obj.name %>
    </h1>
</div>

<script>
    setTimeout(() => {
        window.location = "/login"
    }, 2000)
</script>