<div id="login_contenedor" class="text-center my-4 mx-5" style="background-color: rgba(145, 191, 209, 0.678);">
    <h1 style="color: blue;">Login de Usuario</h1>
    <form id="signIn" method="post" action="/login/signin">
        <label>Nombre</label>
        <input type=" text" name="nombre">
        <button type="submit" class="btn btn-primary my-2">Submit</button>
    </form>
</div>




<script>

</script>