<div class="text-center container my-4" style="background-color: rgba(145, 191, 209, 0.678);">
    <h1>
        Bienvenido <%= obj.name %>
    </h1>
    <button onclick="clickFun()" class="btn-primary">LogOut</button>
</div>

<script>
    function clickFun() {
        window.location = '/login/logout';
    }
</script>